/* 見出し */

.msr_h104 {
  border: 5px solid #000000;
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 15px 20px;
}
.msr_h204 {
  background: #000000;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 10px 20px;
}
.msr_h304 {
  border-left: 5px solid #000000;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
  padding:0 0 0 10px;
}
.msr_h404 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
}

/* ボディ */

.msr_box05 {
  width: 232px;
}
.msr_box05 a{
  border:1px solid #999999;
  box-sizing: border-box;
  color: #333333;
  display:block;
}
.msr_box05 a *{
  transition: 0.2s opacity ease-in-out;
  -o-transition: 0.2s opacity ease-in-out;
  -moz-transition: 0.2s opacity ease-in-out;
  -webkit-transition: 0.2s opacity ease-in-out;
}
.msr_box05 p {
  font-size: 14px;
  line-height: 1.6;
  padding: 8px;
}
.msr_box05 .ttl {
  font-size: 18px;
  line-height: 1.6;
  padding: 8px 8px 0;
}
.msr_box05 a:hover *{
  opacity: 0.8;
}